*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    text-align: center;
    background-color: black;
    padding:30px ;
    color: white;
    margin-top: 36px;
    border-radius:2px ;
}

.footer li{
    list-style: none;
}
