.Tittle{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.Tittle p{
    color: navy;
    cursor: pointer;
}

@media (max-width: 900px) {
    .Tittle{
        margin-top: 40px;
        margin-bottom: 15px;
    }
}
@media (max-width: 500px) {
    .Tittle{
        margin-top: 30px;
        display: block;
    }
    .Tittle p{
        display: block;
        font-size: 18px;
        height: 20px;

    }

    .tittle{
        display: block;
        width: 100%;
        font-size: 18px;
    }
}